p     /* paragraphe */
{
    color:rgb(80, 0, 13);
    font-size: medium;
}

h1 {   /* header */
text-align: center;
background-color:rgb(255, 170, 170);
font-weight: bold;



}

h2    /* presentation */
{ 
	color:black;
    font-size: x-large;
}

body   /* contenu */

{ background-color:rgb(212,106,106);

    }

table {          /* table */
	
	margin:auto;
border: medium solid ;
 border-width:2px; 
 font-size:40px;
 border-color:rgb(33.3, 0, 0);
 background-color:rgb(33.3, 0, 0);
 
 }
 td { 
 	background-color:rgb(255, 170, 170);
 	margin:auto;
 border-width:0px
  border-style:none; 
 
 
 }

 thead { 
 	margin:auto;
 border-width:1px;
 border-style:none; 
 
 
 }


 .command {        /* name table */
 	text-align: center;
 	color:black;
 	font-size: 26pt;
 	font-weight: bold;
 

 }
              /* liens */
 .liens {
 	text-align: center;

 }

 


