p
{
    color: blue;
    font-size: medium;

}

h2
{ cible / contexte=résultat; 
	color:lightgrey;
}
<h2 class=""></h2>

h2
{
    font-size: x-large;
}
body

{ background-color:grey;


}	

img
{
	margin: left;
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightgrey;
        display: none;
    }
}

table {
	margin:auto;

 border-width:2px; 
 border-style:none; 
 border-color:blue;
 
 }
 td { 
 	background-color: white;
 	margin: auto;
 border-width:0px
  border-style:none; 
 border-color:blue;
 
 }

 thead { 
 	margin: auto;
 border-width:1px;
 border-style:solid; 
 border-color:blue;
 
 }